:root {
    --primary-background: #10141B;
    --secondary-background: #1B202B;
    --item-background: #252d3d;
    --accent: #48CCCE;
    --text: #F0F1F3;
    --text-muted: #767B87;
    --success: #55F27B;
    --danger: #DE2F65;
    --item-border: #3A4049;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background: var(--primary-background);
    color: var(--text);
}

*:focus {
    outline: none;
}

/*  common      */
.gone {
    display: none;
}

.pointer {
    cursor: pointer;
}

.link:hover {
    color: var(--accent);
}

.margin {
    margin: auto;
}

.margin-normal {
    margin: 10px;
}

.margintop {
    margin-top: 10px;
}

.margintop-big {
    margin-top: 20px;
}

.marginbottom {
    margin-bottom: 10px;
}

.marginleft {
    margin-left: 10px;
}

.marginright {
    margin-right: 10px;
}

.padding-small {
    padding: 10px;
}

.padding-extra-small {
    padding: 6px;
}

.vertial-center {
    margin-top: auto;
    margin-bottom: auto;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.width-fill {
    width: 100%;
}

.with-fit {
    width: fit-content;
}

.width-2 {
    width: 2px;
}

.height-fill {
    width: 100%;
}

.height-fit {
    height: fit-content;
}

.right {
    float: right;
}

.clearfix {
    overflow: auto;
}

.fontslim {
    font-weight: normal;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start-even {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.flex-child-even-space {
    width: 50%;
}

.flex-child-fill {
    flex-grow: 100;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-margin-big {
    margin-left: 20px;
}


.capital {
    text-transform: uppercase;
}

img.img-button:hover {
    background-color: var(--item-background);
}

img.img-list-item-button {
    background-color: var(--secondary-background);
    border-radius: 20px;
    padding: 6px 30px;
    border: 1px solid var(--text-muted);
}

img.img-list-item-button:hover {
    border: 1px solid var(--accent);
}

section {
    background-color: var(--primary-background);
}

/*   components       */

/*      modals       */
/*    alert modal   */
div.alert-modal {
    background-color: var(--secondary-background);
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid var(--item-border);
    padding: 20px;
}

div.modal-background {
    background-color: rgba(0,0,0,.8);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.alert-message {
    color: var(--text-muted);
    font-size: 12px;
}

button.alert-button {
    border: none;
    background-color: var(--primary-background);
    color: #44BBBE;
    border-radius: 25px;
    outline: none;
    height: fit-content;
    padding: 10px 40px 10px 40px;
}

button.alert-button:hover {
    border: 1px solid var(--accent);
    padding: 9px 39px 9px 39px;
}


/*     options container  */
div.options-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 25px;
    background-color: #262D3D;
    color: #808692;
    height: 26px;
}

div.option-item {
    background-color: var(--item-background);
    color: var(--text-muted);
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
}

div.option-item:hover {
    color: var(--text);
}

div.option-item-selected {
    color: var(--accent);
    background-color: var(--secondary-background);
}

/*       item subheader     */
label.item-subheader {
    font-size: 12px;
    color: var(--text-muted);
}

/*      input      */
input.input {
    background-color: var(--item-background);
    color: var(--text);
    box-sizing: border-box;
    width: 100%;
    padding: 12px 15px;
    box-shadow: none;
    border-radius: 9px;
    border: 1px solid transparent;
    font-size: 13px;
}

label.input-header {
    font-size: 12px;
    color: var(--text-muted);
    text-transform: uppercase;
}

/*  login/signup/customer info container */
div.auth-container {
    width: 380px;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.auth-container-header {
    margin-top: 100px;
    font-size: 24px;
    color: white;
}

div.auth-container-subtitle {
    margin-top: 30px;
    font-size: 18px;
    color: white;
}

div.auth-container-input {
    margin-top: 10px;
}

input.auth-container-input {
    text-align: left;
    background-color: #252d3d;
    padding: 0 15px;
    color: #f0f1f3;
    display: block;
    border-radius: 9.5px;
    width: 100%;
    height: 38px;
    box-shadow: none;
    font-size: 13px;
    border: 1px solid transparent;
}

input.invalid {
    border-color: red;
}

button.auth-container-button {
    border: 1px solid #0bcbcd;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    height: 39px;
    font-size: 12px;
    display: inline-block;
    width: 190px;
    background-color: transparent;
    color: white;
}

button.auth-container-button.disabled {
    color: grey;
}

div.auth-container-switch {
    margin-top: 10px;
    color: white;
    width: fit-content;
}

div.auth-container-info-text {
    margin-top: 10px;
    color: red;
    font-size: 10px;
    text-align: center;
}

div.invisible {
    display: none;
}

div.auth-container-section-header {
    margin-top: 10px;
    font-size: 12px;
    color: white;
    text-align: left;
}

.navigationbar {
    background-color: var(--secondary-background);
    overflow: hidden;
    height: 50px;
}

.navigationbar div {
    width: 1000px;
    margin: auto;
}

.navigationbar div.left {
    flex-grow: 1;
}

.navigationbar div.right {
    width: fit-content;
    float: right;
}

.navigationbar a {
    float: left;
    color: var(--text);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigationbar a:hover {
    background-color: var(--text-muted);
}

/* Add a color to the active/current link */
.navigationbar a.active {
    color: var(--accent);
}

main {
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
}

footer {
    background-color: var(--secondary-background);
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px 0 5px 0;
    color: floralwhite;
    text-align: center;
}

#searchSection {
    background-color: #10141B;
    color: #EAEBEE;
    padding: 20px 0 20px 0;
}

#searchBar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border-radius: 25px;
    background-color: #262D3D;
    color: #EAEBEE;
}

#searchButton {
    border: none;
    background-color: #1B202B;
    color: #44BBBE;
    border-radius: 25px;
    outline: none;
    padding: 10px 40px 10px 40px;
}

#searchButton:hover {
    border: 1px solid var(--accent);
    padding: 9px 39px 9px 39px;
}

#searchText {
    background-color: #262D3D;
    color: #EAEBEE;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border-width: 0;
    width: 100%;
}


/*  ////  list item  ///////////////  */
#resultSection {
    padding-top: 20px;
    padding-bottom: 20x;
    background-color: var(--primary-background);
}

div.listItem {
    background: var(--item-background);
    color: var(--text);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-bottom: 12px;
}

div.listItem:hover {
    border: 1px solid var(--accent);
    padding: 9px 19px 9px 19px;
}

div.itemHeader {
    display: flex;
    flex-direction: row;
}

div.itemHeader h5 {
    margin-left: 10px;
}

div.verticalDivider {
    border-left: 3px solid var(--text-muted);
    height: auto;
}

div.itemSubheader {
    margin-left: 30px;
    margin-top: 6px;
    font-size: 12px;
    color: var(--text-muted);
    display: flex;
    flex-direction: row;
}

div.itemSubheader p {
    width: fit-content;
}

img.icon-small {
    width: 20px;
    height: 20px;
}

img.icon-extra-small {
    width: 12px;
    height: 12px;
}

img.icon-medium {
    width: 20px;
    height: 20px;
}

img.icon-big {
    width: 200px;
    height: 200px;
}

img.icon-margin {
    margin-right: 10px;
}

img.image-background {
    background-color: var(--item-background);
}

img.padding-big {
    padding: 30px;
}

img.fit {
    display: block;
}

.text-center {
    text-align: center;
}


/* //////  pagination  /////////////*/
div.pagination {
    display: flex;
    flex-direction: row;
    color: var(--text);
    width: fit-content;
    margin: auto;
}

div.pagination h5 {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    width: 16px;
    height: 16px;
}

img.pagination {
    width: 16px;
    height: 16px;
    padding: 10px;
}

img.pagination:hover {
    background: var(--item-background);
}

/* ///////// info text index page //////////*/
#infoTextFieldIndex {
    width: fit-content;
    margin: auto;
    color: var(--text);
}

/*   Library bar */
#libraryBar {
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

#libraryBar h5 {
    height: 20px;
    width: fit-content;
}

/*   switch  */
.switch {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #808692;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #44BBBE;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

/*   button     */

button.button {
    border: none;
    background-color: var(--secondary-background);
    color: var(--accent);
    border-radius: 25px;
    outline: none;
    height: fit-content;
    padding: 10px 40px 10px 40px;
}

button.button-large {
    width: 300px;
}

button.button-disabled {
    background-color: var(--secondary-background);
    color: var(--text-muted);
}

button.button:hover {
    border: 1px solid var(--accent);
    padding: 9px 39px 9px 39px;
}

/* artist page    */
#artistDetailsSection {
    background-color: var(--primary-background);
}